<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Entrar</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">Nome de Usuário</label>
              <input type="text" formControlName="username" class="form-control" id="username" placeholder="Digite seu Nome de Usuário" autocomplete="off">
              <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched" class="text-danger">
                Nome de Usuário é obrigatório
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Digite sua senha">
              <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-danger">
                Senha é obrigatória
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
              <label class="form-check-label" for="rememberMe">Lembrar de Mim</label>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
