<carousel>
  <slide>
      <img src="assets/images/hero1.jpg" alt="primeiro slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
     <img src="assets/images/hero2.jpg" alt="segundo slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
       <img src="assets/images/hero3.jpg" alt="terceiro slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero4.jpg" alt="terceiro slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero5.jpg" alt="terceiro slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero6.jpg" alt="terceiro slide" style="display: block; width: 100%; height: 100%;">
  </slide>
</carousel>
<section>
  <div class="d-flex justify-content-center pt-4">
      <h1>Bem-vindo ao Sports Center!!!</h1>
  </div>
</section>
<div class="container marketing">

   <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Primeira manchete. <span class="text-muted">Vai explodir sua mente.</span></h2>
      <p class="lead">Alguns jogadores preferem ter o conforto, poder e flexibilidade para escolher uma combinação de recursos em uma única corda. Para isso, poucas marcas de tênis oferecem Corda Híbrida, que possui uma corda para as Verticais e uma corda diferente para as Horizontais. Agora, VOCÊ também pode criar sua própria corda híbrida!

        Para utilizar este serviço no Sportsjam.in, adicione sua raquete favorita ao seu pedido, juntamente com a Corda de Tênis para as Verticais e a Corda de Tênis para as Horizontais (Encordoamento Híbrido). Observe que é necessário um bom entendimento dos recursos das cordas para alcançar um equilíbrio ideal entre conforto, durabilidade, controle e poder.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/bslide1.jpg" alt="primeiro slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 padding-left-20">
      <h2 class="featurette-heading ml-5">Ah, sim, é tão bom. <span class="text-muted">Veja por si mesmo.</span></h2>
      <p class="lead ml-5">Procurando Botas de Caminhada, Tênis, Sandálias ou Roupas para Exterior? Escolha de uma grande variedade hoje.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/images/bslide2.jpg" alt="primeiro slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">E por último, este aqui. <span class="text-muted">Xeque-mate.</span></h2>
      <p class="lead">Uma enorme coleção de tênis de corrida e equipamentos esportivos</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/bslide3.jpg" alt="primeiro slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

</div>
